@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.autor {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #fff;
  background-color: skyblue;
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 5px;
}